<%- include("template/cabecera", {tituloWeb: "EJS"}) %>

    <div class="container">

        <h1>CRUD Mongo</h1>

        <a class="btn btn-success btn-block my-4"
        href="/mascotas/crear">
            Crear Nueva Mascota
            
        </a>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <% if (arrayMascotas.length > 0) { %>
                    <% arrayMascotas.forEach(element => { %>
                        <tr>
                            <th scope="row"><%= element.id %> </th>
                            <td><%= element.nombre %></td>
                            <td><%= element.descripcion %></td>
                            <td>
                                <a href="mascotas/<%= element.id %>" class="btn btn-warning btn-sn">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

<%- include("template/footer") %>

